# Database
DATABASE_URL="postgresql://lovely:lovely@localhost:5432/lovely?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-change-me-in-production"

# App
NEXT_PUBLIC_APP_NAME="lovely"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
